/* CORE STYLES */
:root {
  --primary-color: #1D63ED;
  --overlay-color: #0444a4ef;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  overflow: hidden;
  background-size: 100vw 50vh;
  background-repeat: no-repeat; 
  background-position: center center;
  background-position-y: 100% ;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  color: black;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn1 {
  display: inline-block;
  border: none;
  padding: 15px;
  background: linear-gradient(to left, var(--primary-color), var(--overlay-color))  ;
  border-radius: 10px;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  position: relative;
  z-index: 10000;

}

.btn:hover {
  opacity: 0.7;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;
}
footer div {
  background-color:  var(--primary-color);
  margin: -5px 0px 0px 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
}
svg {
  width: 100%;
}

.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor: pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill:  var(--primary-color);
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke:  var(--primary-color);
  stroke-width: 0.5;
  opacity: 0.6;
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  filter: url(#goo);
}
#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}
#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
@keyframes ball {
  to {
    transform: translateY(20%);
  }
}
