:root {
    --primary-color: #1D63ED;
    --overlay-color: #0444a4ef;
    --menu-speed: 0.75s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .logo-docker{
    display: flex;
    width: 40px;
    height: 40px;
  
    justify-content: center;
    margin-top: 20px;
  }
  
  
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    background-repeat: no-repeat; 
    background-position: center center;
    background-position-y: 100%;
    
  }
  .container {
    
    overflow: hidden;
    padding: 0 5.3rem;
    margin: 0 auto;
    
  }
  .showcase {
    height: 100%;
    margin-top: 40px;
    
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
  }
  
  h1{
    font-weight: 100;
    text-align: center;
    max-width: 100%;
  }
  
  h2{
    margin-top: 40px;
    font-weight: 300;
  }
  
  p{
    color: black;
    font-size: 1.1rem;
    width: 100%;
    max-width: 100%;
  }
  
  .comandos code{
    width: 600px;
    display: block;
    
  }
  #title-docker{
    position: absolute;
    margin-left: 23%;
    margin-top: -18%;
    font-size: 25px;
    font-style:unset;
  }
  
  .cod-elem{
    color: var(--primary-color);
    font-size: 1.3rem;
    color: var(--primary-color);
    
    padding: 15px;
    width: 20%;
    text-align: center;
    border-radius: 0.8rem;
    margin: 10px;
    margin-top: 3%;
    
  }
  
  .comandos{
    display: flex;
    padding: 10px 0 0 0;
  }
  
  .resultados{
    display: flex;
    border: solid var(--overlay-color);
    border-radius: 5px;
    margin: 30px auto;
    width: 860px;
    height: 72%;
    justify-content: center;  
    max-width: 100%;
    position: absolute;
    margin-left: 29%;
    margin-top: -32%;
    margin-bottom: 10%;
  }

  h3{
    color: var(--primary-color);
    margin-top: 50px;
    margin-left: 55%;
  }

  #comando{
    height: 240px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    min-width: 30%;
    height: auto;
    min-height: 1000px;
    align-items: center;
  }

  .item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 20rem;
    color: var(--primary-color);
    background-color: #D9D9D9;
  }
  #host{
    height: 410px;
  }


  .dragging {
    opacity: 0.5;
  }
  #hub{
    height: 240px;
  }
  .exercicio{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  strong{
    color: var(--overlay-color);
  }

  .caixas{
    width: 260px;
    border: solid var(--overlay-color);
    margin: 25px 10px;
    border-radius: 1rem;
    text-align: center; 
  }   
  .linha{
    background-color: var(--overlay-color);
    height: 2px;
    width: 100%;
  }



  
.certo{
  background-color: rgba(0, 183, 18, 0.233);
  border: 2px solid rgb(0, 183, 18)
}

.errado{
  background-color: rgba(255, 0, 0, 0.235);
  border: 2px solid red
}

.selecionado{
  background-color: #1d62ed3d;
  border: 2px solid #1d62ed;
  
}
