:root {
  --primary-color: #1d63ed;
  --overlay-color: #0444a4ef;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-docker {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 10px;
  justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: 100%;
}
.container {
  overflow: hidden;
  padding: 0 5.3rem;
  margin: 0 auto;
}
.showcase {
  height: 100%;
  margin-top: 40px;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1 {
  font-weight: 100;
  text-align: center;
  max-width: 100%;
}

h2 {
  margin-top: 40px;
  font-weight: 300;
}

p {
  color: black;
  font-size: 1.1rem;
  width: 100%;
  max-width: 100%;
}

.comandos code {
  width: auto;
}

.cod-elem {
  font-size: 1.3rem;
  color: var(--primary-color);
  background-color: #d9d9d9;
  padding: 15px;
  border-radius: 0.8rem;
  margin: 10px;
}

.comandos {
  display: flex;
  padding: 10px 0 0 0;
  flex-wrap: wrap;
}

.resultados {
  display: flex;
  border: solid var(--overlay-color);
  border-radius: 5px;
  margin: 30px auto;
  width: 950px;
  height: 100%;
  justify-content: center;
  max-width: 100%;
}

#comando {
  height: 240px;
}
#host {
  height: 410px;
}
#hub {
  height: 240px;
}

.caixas {
  width: 260px;
  border: solid var(--overlay-color);
  margin: 25px 10px;
  border-radius: 1rem;
  text-align: center;
}
.linha {
  background-color: var(--overlay-color);
  height: 2px;
  width: 100%;}



  .cod-elem.correto {
    background-color: rgb(80, 179, 65);
    color: white;
  }

.cod-elem.erro {
  animation: shake 0.5s;
  background-color: rgb(181, 35, 35);
  color: white;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.imagem{
  height: 90px;
  margin-top: 10px;
}