:root {
    --primary-color: #1D63ED;
    --overlay-color: #0444a4ef;
    --menu-speed: 0.75s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .logo-docker{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 50%;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    background-repeat: no-repeat; 
    background-position: center center;
    background-position-y: 100%;
    
  }
  .container {
    overflow: hidden;
    padding: 0 5.3rem;
    margin: 0 auto;
  }

  
  #title-docker{
    position: absolute;
    margin-left: 23%;
    margin-top: -18%;
    font-size: 25px;
    font-style:unset;
  }
  
  
  .resultados{
    display: flex;
    border: solid var(--overlay-color);
    border-radius: 5px;
    margin: 30px auto;
    width: 860px;
    height: 72%;
    justify-content: center;  
    max-width: 100%;
    position: absolute;
    margin-left: 29%;
    margin-top: -32%;
    margin-bottom: 10%;
  }

  h3{
    color: var(--primary-color);
    margin-top: 50px;
    margin-left: 58%;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    min-width: 30%;
    height: 60vh;
    align-items: center;
  }

  .item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 30rem;
    color: var(--primary-color);
    background-color: #D9D9D9;
    font-size: 1.2rem;
  }

  #host{
    height: 410px;
  }

  .dragging {
    opacity: 0.5;
  }
  #hub{
    height: 240px;
  }
  .exercicio{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .caixas{
    width: 260px;
    border: solid var(--overlay-color);
    margin: 25px 10px;
    border-radius: 1rem;
    text-align: center; 
  }   
  .linha{
    background-color: var(--overlay-color);
    height: 2px;
    width: 100%;
  }